<p id="notice"><%= notice %></p>

<h1>Bookings</h1>
<!-- Current date -->
<% start_date = params.fetch(:start_date, Date.today).to_date %>
<!-- Array with all days of current week -->
<% date_range = (start_date.beginning_of_week..start_date.end_of_week) %>
<!-- Changes start_date value -->
<%= link_to "Previous", start_date: start_date - 1.day %>
<%= link_to "Next", start_date: start_date + 1.day %>


<h1>Month <%= Date::MONTHNAMES[start_date.month] %>  </h1>
<p>Date shown currently <%= start_date.day %>/<%= start_date.month %>/<%= start_date.year %></p>
<h1>Bookings</h1>
<!--Rooms on a day  -->
<table>
  <thead>
    <tr>
      <th>Time</th>
      <% @rooms.each do |room| %>
      <th><%= room.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <!-- loop here -->
    <% @timeslots.each do |timeslot| %>
    <tr><td><%= timeslot.time_value.strftime("%H%M") %></td></tr>
    <% end %>


  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Description</th>
      <th>Room</th>
      <th>User</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.date %></td>
        <td><%= booking.starttime %></td>
        <td><%= booking.endtime %></td>
        <td><%= booking.description %></td>
        <td><%= booking.room %></td>
        <td><%= booking.user_id %></td>
        <td><%= booking.room_id %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
