<p id="notice"><%= notice %></p>

<!-- Current date -->
<% start_date = params.fetch(:start_date, Date.today).to_date %>
<!-- Used to reset start date to current date. -->
<% current_date = params.fetch(:current_date, Date.today).to_date %>
<!-- Changes start_date value -->
<div class="stick">
  <div class="day_button">
    <%= link_to "Previous |", start_date: start_date - 1.day %>
    <%= link_to " Current date |", start_date: current_date %>
    <%= link_to " Next", start_date: start_date + 1.day %>
  </div>
</div>
  <!-- Date shown based on start_date -->
  <h1>Month: <%= Date::MONTHNAMES[start_date.month] %>  </h1>
  <p>Date shown currently <%= start_date.day %>/<%= start_date.month %>/<%= start_date.year %></p>
  <h1>Bookings</h1>

<!--Rooms on a day  -->
<table class="table table-bordered table-inverse">
  <thead>
    <tr>
      <th>Time</th>
      <!-- Loop for each room's name to be inputted into table -->
      <% @rooms.each do |room| %>
        <th><%= room.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <!-- Loop for Timeslot time_values created in seed file to create new table rows -->
    <% @timeslots.each do |timeslot| %>
      <tr>
        <!-- Value for time stored in current row -->
        <% time_column = timeslot.time_value.strftime("%H%M") %>
        <!-- Timeslot time value in hhmm format eg 0900 for 9am -->
        <td><%= timeslot.time_value.strftime("%H%M") %></td>
        <!-- Loops through each of the rooms to create a blank table cell -->
        <% @rooms.each do |room| %>
          <td>
            <!-- Loops through bookings -->
            <% @bookings.each do |booking|  %>
              <!-- Booking start time -->
              <% t1 = Time.parse(booking.starttime.strftime("%T").to_s) %>
              <!-- Booking end time-->
              <% t2 = Time.parse(booking.endtime.strftime("%T").to_s) %>
              <!-- Checks if column time value is between a bookings start and end time, only fills cell if the room id matches the booking room_id and booking date matches the start_date -->
              <% if ((t1..t2).include? Time.parse(timeslot.time_value.strftime("%T").to_s)) == true && (room.id == booking.room_id) && (start_date == booking.date) %>
                <div style="background-color: <%= booking.color %>;">
                  <%= booking.description %>
                  <%= link_to 'Edit', edit_booking_path(booking) %>
                  <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<nav class="navbar navbar-default navbar-bottom" role="navigation">
  <div class="container-fluid footer">
    <%= link_to 'New Booking', new_booking_path %>
    <%= render 'form', booking: @booking %>
  </div>
</nav>
