<p id="notice"><%= notice %></p>

<!-- Current date -->
<% start_date = params.fetch(:start_date, Date.today).to_date %>
<!-- Changes start_date value -->
<%= link_to "Previous", start_date: start_date - 1.day %>
<%= link_to "Next", start_date: start_date + 1.day %>

<!-- Date shown based on start_date -->
<h1>Month: <%= Date::MONTHNAMES[start_date.month] %>  </h1>
<p>Date shown currently <%= start_date.day %>/<%= start_date.month %>/<%= start_date.year %></p>
<h1>Bookings</h1>
<!--Rooms on a day  -->
<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <!-- Loop for each room's name to be inputted into table -->
      <% @rooms.each do |room| %>
        <th><%= room.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <!-- Loop for Timeslot time_values created in seed file  -->
    <% @timeslots.each do |timeslot| %>
      <tr>
        <!-- Value for time stored in current row -->
        <% time_column = timeslot.time_value.strftime("%H%M") %>
        <!-- Timeslot time value in hhmm format eg 0900 for 9am -->
        <td><%= timeslot.time_value.strftime("%H%M") %></td>
        <!-- Loops through each of the rooms to create a blank table cell -->
        <% @rooms.each do |room| %>
          <td>
            <!-- Selects bookings where booking starttime matches the time_column value -->
            <%#  @bookings.select{ |b| b.starttime.strftime("%H%M") == time_column}.each do |booking| %>
            <% @bookings.each do |booking|  %>
            <% t1 = Time.parse(booking.starttime.strftime("%T").to_s) %>
            <% t2 = Time.parse(booking.endtime.strftime("%T").to_s) %>
            <% middle_time = {} %>
            <%# time_range = (time.parse(booking.endtime) - time.parse(booking.starttime))  %>
              <!-- Only fills cell if the room id matches the booking room_id and booking date matches the start_date -->
              <%# if room.id == booking.room_id && (booking.starttime.strftime("%H%M") == time_column || booking.endtime.strftime("%H%M") == time_column) %>
              <% if ((t1..t2).include? Time.parse(timeslot.time_value.strftime("%T").to_s)) == true && (room.id == booking.room_id)%>

                <%= booking.description %>
                <%= link_to 'Edit', edit_booking_path(booking) %>
                <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<div class="showForm">
  <%= link_to 'New Booking', new_booking_path %>
  <%= render 'form', booking: @booking %>
</div>
