<p id="notice"><%= notice %></p>
<!-- Current date -->
<% start_date = params.fetch(:start_date, Date.today).to_date %>
<!-- Array with all days of current week -->
<% date_range = (start_date.beginning_of_week..start_date.end_of_week) %>
<!-- Changes start_date value -->
<%= link_to "Previous", start_date: date_range.first - 1.week %>
<%= link_to "Next", start_date: date_range.last + 1.week %>

<h1>Month <%= Date::MONTHNAMES[start_date.month] %>  </h1>
<p>Week start date <%= start_date.beginning_of_week.day %>/<%= start_date.month %>/<%= start_date.year %></p>
<h1>Bookings</h1>
<!--Rooms in a week table -->
<table class="table">
  <thead>
    <tr>
      <!-- Separates each day of current week -->
      <% date_range.each_slice(7) do |week| %>
        <% week.each do |day| %>
        <!-- Table inputs created based on weekday -->
          <th><%= day.strftime("%A") %> <%= day.day %>/<%= day.month %></th>
          <!-- Blank cells created based room array size after the weekday is inputted -->
          <% (@rooms.size).times do %>
            <th></th>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- Rooms names outputted 7 times, once for each weekday -->
      <% 7.times do %>
        <th>Time</th>
        <% @rooms.each do |room| %>
          <th><%= room.name %></th>
        <% end %>
      <% end %>
    </tr>
    <!-- Loop for Timeslot time_values created in seed file  -->
    <% @timeslots.each do |timeslot| %>
      <tr>
        <% date_range.each_slice(7) do |week| %>
          <!-- Value for time stored in current row -->
          <% time_column = timeslot.time_value.strftime("%H%M") %>
          <!-- Timeslot time value in hhmm format eg 0900 for 9am -->
          <td><%= timeslot.time_value.strftime("%H%M") %></td>
          <!-- Loops through each of the rooms to create a blank table cell -->
          <% @rooms.each do |room| %>
            <td>
              <!-- Selects bookings where booking starttime matches the time_column value -->
              <%  @bookings.select{ |b| b.starttime.strftime("%H%M") == time_column}.each do |booking| %>                <!-- Only fills cell if the room id matches the booking room_id and booking date matches the start_date for Monday -->
                <% if room.id == booking.room_id && week[0] == booking.date %>
                  <%= booking.description %>
                  <%= link_to 'Edit', edit_booking_path(booking) %>
                  <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        <% end %>
        <!-- Tuesday -->
        <% date_range.each_slice(7) do |week| %>
          <% time_column = timeslot.time_value.strftime("%H%M") %>
          <td><%= timeslot.time_value.strftime("%H%M") %></td>
          <!-- Loops through each of the rooms to create a blank table cell -->
          <% @rooms.each do |room| %>
            <td>
              <!-- Selects bookings where booking starttime matches the time_column value -->
              <%  @bookings.select{ |b| b.starttime.strftime("%H%M") == time_column}.each do |booking| %>
                <!-- Only fills cell if the room id matches the booking room_id and booking date matches the start_date for Monday -->
                <% if room.id == booking.room_id && week[1] == booking.date %>
                  <%= booking.description %>
                  <%= link_to 'Edit', edit_booking_path(booking) %>
                  <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        <% end %>
        <!-- Wednesday -->
        <% date_range.each_slice(7) do |week| %>
          <% time_column = timeslot.time_value.strftime("%H%M") %>
          <td><%= timeslot.time_value.strftime("%H%M") %></td>
          <!-- Loops through each of the rooms to create a blank table cell -->
          <% @rooms.each do |room| %>
            <td>
              <!-- Selects bookings where booking starttime matches the time_column value -->
              <%  @bookings.select{ |b| b.starttime.strftime("%H%M") == time_column}.each do |booking| %>
                <!-- Only fills cell if the room id matches the booking room_id and booking date matches the start_date for Wednesday -->
                <% if room.id == booking.room_id && week[2] == booking.date %>
                  <%= booking.description %>
                  <%= link_to 'Edit', edit_booking_path(booking) %>
                  <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        <% end %>
        <!-- Thursday -->
        <% date_range.each_slice(7) do |week| %>
          <% time_column = timeslot.time_value.strftime("%H%M") %>
          <td><%= timeslot.time_value.strftime("%H%M") %></td>
          <!-- Loops through each of the rooms to create a blank table cell -->
          <% @rooms.each do |room| %>
            <td>
              <!-- Selects bookings where booking starttime matches the time_column value -->
              <%  @bookings.select{ |b| b.starttime.strftime("%H%M") == time_column}.each do |booking| %>
                <!-- Only fills cell if the room id matches the booking room_id and booking date matches the start_date for Thursday -->
                <% if room.id == booking.room_id && week[3] == booking.date %>
                  <%= booking.description %>
                  <%= link_to 'Edit', edit_booking_path(booking) %>
                  <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        <% end %>
        <!-- Friday -->
        <% date_range.each_slice(7) do |week| %>
          <% time_column = timeslot.time_value.strftime("%H%M") %>
          <td><%= timeslot.time_value.strftime("%H%M") %></td>
          <!-- Loops through each of the rooms to create a blank table cell -->
          <% @rooms.each do |room| %>
            <td>
              <!-- Selects bookings where booking starttime matches the time_column value -->
              <%  @bookings.select{ |b| b.starttime.strftime("%H%M") == time_column}.each do |booking| %>
                <!-- Only fills cell if the room id matches the booking room_id and booking date matches the start_date for Friday -->
                <% if room.id == booking.room_id && week[4] == booking.date %>
                  <%= booking.description %>
                  <%= link_to 'Edit', edit_booking_path(booking) %>
                  <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        <% end %>
        <!-- Saturday -->
        <% date_range.each_slice(7) do |week| %>
          <% time_column = timeslot.time_value.strftime("%H%M") %>
          <td><%= timeslot.time_value.strftime("%H%M") %></td>
          <!-- Loops through each of the rooms to create a blank table cell -->
          <% @rooms.each do |room| %>
            <td>
              <!-- Selects bookings where booking starttime matches the time_column value -->
              <%  @bookings.select{ |b| b.starttime.strftime("%H%M") == time_column}.each do |booking| %>
                <!-- Only fills cell if the room id matches the booking room_id and booking date matches the start_date for Saturday -->
                <% if room.id == booking.room_id && week[5] == booking.date %>
                  <%= booking.description %>
                  <%= link_to 'Edit', edit_booking_path(booking) %>
                  <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        <% end %>
        <!-- Sunday -->
        <% date_range.each_slice(7) do |week| %>
          <% time_column = timeslot.time_value.strftime("%H%M") %>
          <td><%= timeslot.time_value.strftime("%H%M") %></td>
          <!-- Loops through each of the rooms to create a blank table cell -->
          <% @rooms.each do |room| %>
            <td>
              <!-- Selects bookings where booking starttime matches the time_column value -->
              <%  @bookings.select{ |b| b.starttime.strftime("%H%M") == time_column}.each do |booking| %>
                <!-- Only fills cell if the room id matches the booking room_id and booking date matches the start_date for Sunday -->
                <% if room.id == booking.room_id && week[6] == booking.date %>
                  <%= booking.description %>
                  <%= link_to 'Edit', edit_booking_path(booking) %>
                  <%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<nav class="navbar navbar-default navbar-bottom" role="navigation">
  <div class="container footer">
    <%= link_to 'New Booking', new_booking_path %>
    <%= render 'form', booking: @booking %>
  </div>
</nav>
