<p id="notice"><%= notice %></p>


<!-- Current date -->
<% start_date = params.fetch(:start_date, Date.today).to_date %>
<!-- Used to reset start date to current date. -->
<% current_date = params.fetch(:current_date, Date.today).to_date %>
<!-- Array with all days of current week -->
<% date_range = (start_date.beginning_of_week..start_date.end_of_week) %>
<!-- Changes start_date value -->
<%= link_to "Previous |", start_date: date_range.first - 1.week %>
<%= link_to " Current date |", start_date: current_date %>
<%= link_to "Next", start_date: date_range.last + 1.week %>
<div class="day_button">
  <h2>Week start:
    <% case start_date.beginning_of_week.day.to_i %>
    <% when 1, 21, 31 %>
      <%=start_date.beginning_of_week.day.to_s+"st" %>
    <% when 2, 22 %>
      <%=start_date.beginning_of_week.day.to_s+"nd" %>
    <% when 3, 23%>
      <%=start_date.beginning_of_week.day.to_s+"rd" %>
    <% else %>
      <%=start_date.beginning_of_week.day.to_s+"th" %>
    <% end %>
    <%= Date::MONTHNAMES[start_date.beginning_of_week.month] %>
    <%= start_date.beginning_of_week.year %>
    <%= link_to "Previous |", start_date: date_range.first - 1.week  %>
    <%= link_to " Current date |", start_date: current_date %>
    <%= link_to "Next", start_date: date_range.last + 1.week %>
  </h2>
</div>
<h1>Bookings</h1>
<!--New Booking Panel-->
<div class="container">
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">New Booking</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render 'form', booking: @booking %>
      </div>
    </div>
  </div>
</div>
</div>
<table class=" static_days">
  <thead>
    <tr>
      <!-- Separates each day of current week -->
      <% date_range.each_slice(7) do |week| %>
        <% week.each do |day| %>
        <!-- Table inputs created based on weekday -->
          <th colspan="<%= (@rooms.size).to_i %>"><%= day.strftime("%A") %> <%= day.day %>/<%= day.month %></th>
          <!-- Blank cells created based room array size after the weekday is inputted -->
        <% end %>
      <% end %>
    </tr>
  </thead>
</table>
<!--table for the time slots-->
<div class="row">
  <div class="col-md-1" id="first_table">
    <table class="table table-bordered table-inverse time_table">
      <th>Time</th>
        <tbody>
          <% @timeslots.each do |timeslot| %>
            <tr>
              <td class="time"><%= timeslot.time_value.strftime("%H%M") %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
<!--Rooms in a week table -->
<div class="col-md-11" id="second_table">
  <table class="table table-bordered table-inverse week_table">
    <thead>
      <tr>
        <!-- Separates each day of current week -->
        <% date_range.each_slice(7) do |week| %>
          <% week.each do |day| %>
          <!-- Table inputs created based on weekday -->
            <th colspan="<%= (@rooms.size).to_i %>"><%= day.strftime("%A") %> <%= day.day %>/<%= day.month %></th>
            <!-- Blank cells created based room array size after the weekday is inputted -->
          <% end %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <!-- Loop for Timeslot time_values created in seed file  -->
      <% @timeslots.each do |timeslot| %>
        <tr>
          <% date_range.each_slice(7) do |week| %>
            <!-- Value for time stored in current row -->
            <% time_column = timeslot.time_value.strftime("%H%M") %>
            <!-- Monday -->
            <!-- Timeslot time value in hhmm format eg 0900 for 9am -->
            <!-- Loops through each of the rooms to create a blank table cell -->
            <% @rooms.each do |room| %>
              <td>
                <div class="booking_block">
                  <!-- Loops through bookings -->
                  <% @bookings.each do |booking|  %>
                    <!-- Booking start time -->
                    <% t1 = Time.parse(booking.starttime.strftime("%T").to_s) %>
                    <!-- Booking end time-->
                    <% t2 = Time.parse(booking.endtime.strftime("%T").to_s) %>
                    <!-- Checks if column time value is between a bookings start and end time, only fills cell if the room id matches the booking room_id and booking date matches the Monday date -->
                    <% if ((t1..t2).include? Time.parse(timeslot.time_value.strftime("%T").to_s)) == true && (room.id == booking.room_id) && (week[0] == booking.date) %>
                      <!-- Selects the booking start date row-->
                        <a href="/bookings/<%= booking.id %>">
                          <div class="booking_block text-center"style="background-color: <%= room.color %>;" title="<%= room.name %> , <%= booking.description %>" data-toggle="tooltip">
                          </div>
                        </a>
                      <% if t1 == Time.parse(timeslot.time_value.strftime("%T").to_s) %>
                        <!-- Selects the booking start date row-->
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </td>
            <% end %>
            <!-- Tuesday -->
            <!-- Loops through each of the rooms to create a blank table cell -->
            <% @rooms.each do |room| %>
              <td>
                <!-- Loops through bookings -->
                <% @bookings.each do |booking|  %>
                  <!-- Booking start time -->
                  <% t1 = Time.parse(booking.starttime.strftime("%T").to_s) %>
                  <!-- Booking end time-->
                  <% t2 = Time.parse(booking.endtime.strftime("%T").to_s) %>
                  <!-- Checks if column time value is between a bookings start and end time, only fills cell if the room id matches the booking room_id and booking date matches the Tuesday date -->
                  <% if ((t1..t2).include? Time.parse(timeslot.time_value.strftime("%T").to_s)) == true && (room.id == booking.room_id) && (week[1] == booking.date) %>
                  <a href="/bookings/<%= booking.id %>">
                    <div class="booking_block text-center"style="background-color: <%= room.color %>;" title="<%= room.name %> , <%= booking.description %>" data-toggle="tooltip">
                    </div>
                  </a>
                    <!-- Selects the booking start date row-->
                    <% if t1 == Time.parse(timeslot.time_value.strftime("%T").to_s) %>

                    <% end %>
                    </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <!-- Wednesday -->
            <!-- Loops through each of the rooms to create a blank table cell -->
            <% @rooms.each do |room| %>
              <td>
                <!-- Loops through bookings -->
                <% @bookings.each do |booking|  %>
                  <!-- Booking start time -->
                  <% t1 = Time.parse(booking.starttime.strftime("%T").to_s) %>
                  <!-- Booking end time-->
                  <% t2 = Time.parse(booking.endtime.strftime("%T").to_s) %>
                  <!-- Checks if column time value is between a bookings start and end time, only fills cell if the room id matches the booking room_id and booking date matches the Wednesday date -->
                  <% if ((t1..t2).include? Time.parse(timeslot.time_value.strftime("%T").to_s)) == true && (room.id == booking.room_id) && (week[2] == booking.date) %>
                  <a href="/bookings/<%= booking.id %>">
                    <div class="booking_block text-center"style="background-color: <%= room.color %>;" title="<%= room.name %> , <%= booking.description %>" data-toggle="tooltip">
                    </div>
                  </a>
                    <!-- Selects the booking start date row-->
                    <% if t1 == Time.parse(timeslot.time_value.strftime("%T").to_s) %>

                    <% end %>
                    </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <!-- Thursday -->
            <!-- Loops through each of the rooms to create a blank table cell -->
            <% @rooms.each do |room| %>
              <td>
                <!-- Loops through bookings -->
                <% @bookings.each do |booking|  %>
                  <!-- Booking start time -->
                  <% t1 = Time.parse(booking.starttime.strftime("%T").to_s) %>
                  <!-- Booking end time-->
                  <% t2 = Time.parse(booking.endtime.strftime("%T").to_s) %>
                  <!-- Checks if column time value is between a bookings start and end time, only fills cell if the room id matches the booking room_id and booking date matches the Thursday date -->
                  <% if ((t1..t2).include? Time.parse(timeslot.time_value.strftime("%T").to_s)) == true && (room.id == booking.room_id) && (week[3] == booking.date) %>
                  <a href="/bookings/<%= booking.id %>">
                    <div class="booking_block text-center"style="background-color: <%= room.color %>;" title="<%= room.name %> , <%= booking.description %>" data-toggle="tooltip">
                    </div>
                  </a>
                      <!-- Selects the booking start date row-->
                      <% if t1 == Time.parse(timeslot.time_value.strftime("%T").to_s) %>

                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <!-- Friday -->
            <!-- Loops through each of the rooms to create a blank table cell -->
            <% @rooms.each do |room| %>
              <td>
                <!-- Loops through bookings -->
                <% @bookings.each do |booking|  %>
                  <!-- Booking start time -->
                  <% t1 = Time.parse(booking.starttime.strftime("%T").to_s) %>
                  <!-- Booking end time-->
                  <% t2 = Time.parse(booking.endtime.strftime("%T").to_s) %>
                  <!-- Checks if column time value is between a bookings start and end time, only fills cell if the room id matches the booking room_id and booking date matches the Friday date -->
                  <% if ((t1..t2).include? Time.parse(timeslot.time_value.strftime("%T").to_s)) == true && (room.id == booking.room_id) && (week[4] == booking.date) %>
                  <a href="/bookings/<%= booking.id %>">
                    <div class="booking_block text-center"style="background-color: <%= room.color %>;" title="<%= room.name %> , <%= booking.description %>" data-toggle="tooltip">
                    </div>
                  </a>
                    <!-- Selects the booking start date row-->
                    <% if t1 == Time.parse(timeslot.time_value.strftime("%T").to_s) %>

                    <% end %>
                    </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <!-- Saturday -->
            <!-- Loops through each of the rooms to create a blank table cell -->
            <% @rooms.each do |room| %>
              <td>
                <!-- Loops through bookings -->
                <% @bookings.each do |booking|  %>
                  <!-- Booking start time -->
                  <% t1 = Time.parse(booking.starttime.strftime("%T").to_s) %>
                  <!-- Booking end time-->
                  <% t2 = Time.parse(booking.endtime.strftime("%T").to_s) %>
                  <!-- Checks if column time value is between a bookings start and end time, only fills cell if the room id matches the booking room_id and booking date matches the Saturday date -->
                  <% if ((t1..t2).include? Time.parse(timeslot.time_value.strftime("%T").to_s)) == true && (room.id == booking.room_id) && (week[5] == booking.date) %>
                  <a href="/bookings/<%= booking.id %>">
                    <div class="booking_block text-center"style="background-color: <%= room.color %>;" title="<%= room.name %> , <%= booking.description %>" data-toggle="tooltip">
                    </div>
                  </a>
                    <!-- Selects the booking start date row-->
                    <% if t1 == Time.parse(timeslot.time_value.strftime("%T").to_s) %>

                    <% end %>
                    </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <!-- Sunday -->
            <!-- Loops through each of the rooms to create a blank table cell -->
            <% @rooms.each do |room| %>
              <td>
                <!-- Loops through bookings -->
                <% @bookings.each do |booking|  %>
                  <!-- Booking start time -->
                  <% t1 = Time.parse(booking.starttime.strftime("%T").to_s) %>
                  <!-- Booking end time-->
                  <% t2 = Time.parse(booking.endtime.strftime("%T").to_s) %>
                  <!-- Checks if column time value is between a bookings start and end time, only fills cell if the room id matches the booking room_id and booking date matches the Sunday date -->
                  <% if ((t1..t2).include? Time.parse(timeslot.time_value.strftime("%T").to_s)) == true && (room.id == booking.room_id) && (week[6] == booking.date) %>
                  <a href="/bookings/<%= booking.id %>">
                    <div class="booking_block text-center"style="background-color: <%= room.color %>;" title="<%= room.name %> , <%= booking.description %>" data-toggle="tooltip">
                    </div>
                  </a>
                    <!-- Selects the booking start date row-->
                    <% if t1 == Time.parse(timeslot.time_value.strftime("%T").to_s) %>

                    <% end %>
                    </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
