<p id="notice"><%= notice %></p>

<p class="add_top_margin">
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Color:</strong>
  <p class="room_squares" style="background-color: <%= @room.color %>;"></p>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
