<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sparta Global</a>
      </div>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="active"><a href="/bookings">Day bookings</a></li>
          <li><a href="/weeks">Week bookings</a></li>
          <li><%= link_to ' Rooms', rooms_path, :class => 'navbar-link' %></li>
          <li><%= link_to ' Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path, :class => 'navbar-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
